<section class="slice-lg sct-color-1" id="sct_full_demos">
    <div class="container">
        <div class="section-title section-title--style-1 text-center mb-3">
            <h3 class="section-title-inner heading-2 strong-600 text-normal">
                <span class="d-block">Startup demos for all</span>
            </h3>
            <span class="section-title-delimiter clearfix d-none"></span>
        </div>
        <span class="clearfix"></span>
        <div class="fluid-paragraph text-center">
            <p class="text-lg line-height-1_8 c-gray-light strong-300">
                Create your website using one of the demos below. Our demo's components are modular and interchangable, meaning you can take an element or a page from one demo and use it another without any additional setup.
            </p>
        </div>
        <span class="space-xs-xl"></span>
        <div class="">
            <div class="row">
                                    <div class="col-md-6 startup agency">
                    <div class="block block-image-holder mb-5 image-animate-wrapper">
                        <div class="block-image image-animate--hover">
                            <a href="demos/startup-agency" target="_blank">
                                <img src="assets/images/presentation/demos/startup/agency.jpg" class="rounded">
                            </a>
                        </div>

                        <div class="card-body px-0">
                            <div class="">
                                <a href="html/startup-agency" class="heading heading-4 strong-500" target="_blank">
                                    Startup Agency                                    </a>
                                <p class="c-gray-light mt-2 d-none">
                                    Flexible plugin that utilizes a handful of classes for easy toggle behavior.                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
                                    <div class="col-md-6 startup app">
                    <div class="block block-image-holder mb-5 image-animate-wrapper">
                        <div class="block-image image-animate--hover">
                            <a href="demos/startup-app" target="_blank">
                                <img src="assets/images/presentation/demos/startup/app.jpg" class="rounded">
                            </a>
                        </div>

                        <div class="card-body px-0">
                            <div class="">
                                <a href="html/startup-app" class="heading heading-4 strong-500" target="_blank">
                                    Startup App                                    </a>
                                <p class="c-gray-light mt-2 d-none">
                                    Flexible plugin that utilizes a handful of classes for easy toggle behavior.                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
                                    <div class="col-md-6 startup app">
                    <div class="block block-image-holder mb-5 image-animate-wrapper">
                        <div class="block-image image-animate--hover">
                            <a href="demos/startup-analitycs" target="_blank">
                                <img src="assets/images/presentation/demos/startup/analitycs.jpg" class="rounded">
                            </a>
                        </div>

                        <div class="card-body px-0">
                            <div class="">
                                <a href="html/startup-analitycs" class="heading heading-4 strong-500" target="_blank">
                                    Startup Analitycs                                    </a>
                                <p class="c-gray-light mt-2 d-none">
                                    Flexible plugin that utilizes a handful of classes for easy toggle behavior.                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
                                    <div class="col-md-6 startup classic">
                    <div class="block block-image-holder mb-5 image-animate-wrapper">
                        <div class="block-image image-animate--hover">
                            <a href="demos/startup-classic" target="_blank">
                                <img src="assets/images/presentation/demos/startup/classic.jpg" class="rounded">
                            </a>
                        </div>

                        <div class="card-body px-0">
                            <div class="">
                                <a href="html/startup-classic" class="heading heading-4 strong-500" target="_blank">
                                    Startup Classic                                    </a>
                                <p class="c-gray-light mt-2 d-none">
                                    Flexible plugin that utilizes a handful of classes for easy toggle behavior.                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
                                </div>
        </div>
    </div>
</section>
