
<section class="background-image-holder u-py-100 u-h-200vh u-flex-center" data-vide-bg="mp4: assets/videos/kart_video.mp4, data-vide-options="loop: true, muted: true, position: 0% 0%" data-dark-overlay="3">
      <div class="holder-item has-bg-cover bg-size-cover" style="background-position: left center;">
        <span class="mask bg-base-1 alpha-7"></span>
        <div class="overlay">
          <%= video_tag "kart_video.mp4", autoplay: true, loop: true, muted: true %>
          <div class="container slice-lg slice--offset-top">
            <div class="row cols-xs-space align-items-center text-center text-md-left justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center mt-5">
                        <h2 class="heading display-3 font-weight-400 text-white mt-4 mb-0">
                            <span class="font-weight-700">Kart'nGo</span>
                        </h2>
          <h2 class="heading heading-3 font-weight-400 text-white">
                            <span class="font-weight-700">Réservez, Payez, Roulez !</span>
                        </h2>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
